*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flexx{
    display: flex;
    
}
.banner{
    background-image: url(images/images\ \(5\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner2{
    padding-top: 120px;
    background-image: url(images/images\ \(5\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
 }

.content{
    width: 50%;
    padding: 0 5%;
}


h1{
   font-size: 45px;
   font-weight: 700;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-transform: uppercase;
   margin-top: 60px;
   
   
}
.port{
    color:#ffac13
}
h3{
   margin: 25px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
   text-transform: capitalize;
   

}

p{
    text-align: justify;
    font-size: 18;
    line-height: 1.3rem;
    letter-spacing: 0.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #696969;
    margin-bottom: 25px;
}

.button{

    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(rgb(206, 189, 42), tomato );
    padding: 10px 30px;
    margin-top: 10px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 5px;
}


.container{
    display: flex;
}
h2{
   font-size: 40px;
   font-weight: 700;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-transform: capitalize;
   margin:60PX 0px 50PX 0PX;

   
}
.expcontent{
    width: 42%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 6%;
    margin-top: 4%;
    padding: 25px;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    box-shadow:8px 8px 40px 5px #888888;
}
.expH2{
    margin-bottom: 25px;
    font-size: 25;
}

footer p{
    text-align: center;
}